@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

$size: 500px;
$mobileSize: 300px;

.container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  .spinner {
    display: inline-block;
    width: $size;
    height: $size;
    background: url('http://i.imgur.com/oSHLAzp.png') center center;
    background-size: contain;
    transform-origin: 50% 50%;
    animation: spinner 3s infinite alternate ease-in-out;
  }
  .center-spinner {
    display: inline-block;
    position: absolute;
    margin-left: -$size;
    width: $size;
    height: $size;
    background: url('http://i.imgur.com/u0BC2ZR.png') center center;
    background-size: contain;
    content: '';
  }
}


@media only screen and (max-width: 520px){
  .container {
    .spinner {
      width: $mobileSize;
      height: $mobileSize;
    }
    .center-spinner {
      margin-left: -$mobileSize;
      width: $mobileSize;
      height: $mobileSize;

    }
  }

}
